.register_form {
  background-color: #6658dd;
  width: 100%;
  margin: 2rem;
  padding: 2rem;
  color: #fff;
  border-radius: 8px;
}

.register_form h1 {
  text-align: center;
}

.wrapper {
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
}

.row {
  width: 45%;
}

.form {
  display: block;
  width: 100%;
  height: 42px;
  border: 0.5px solid #858c93;
  border-radius: 4px;
  padding: 0 1rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.form::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.submit {
  width: 45%;
  padding: 0 4rem;
}

.select_form {
  margin-bottom: 1rem;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
}

/* .file_form {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file_form + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}

.file_form:focus + label,
.file_form + label:hover {
  background-color: red;
} */

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.file_input label {
  display: block;
  position: relative;
  width: 120px;
  height: 40px;
  border-radius: 4px;
  /* background: linear-gradient(40deg, #ff6ec4, #7873f5); */
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #858c93;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.file_name {
  position: absolute;
  bottom: -35px;
  left: 10px;
  font-size: 0.85rem;
  color: #555;
}

/* .file:hover + label,
.file:focus + label {
  transform: scale(1.02);
} */

/* Adding an outline to the label on focus */
/* .file:focus + label {
  outline: 1px solid #000;
  outline: -webkit-focus-ring-color auto 2px;
} */

@media screen and (max-width: 1024px) {
  .register_form {
    margin: 3rem 1rem;
    padding: 0.5rem;
  }

  .wrapper {
    padding: 0 1rem;
  }

  .row {
    width: 48%;
  }

  .submit {
    width: 48%;
    padding: 0 1rem;
  }
}

@media screen and (max-width: 480px) {
  .register_form {
    background-color: #6658dd;
    width: 100%;
    margin: 3rem 0;
    padding: 0.5rem;
  }

  .wrapper {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .row {
    width: 100%;
  }

  .submit {
    width: 100%;
    padding: 0 1rem;
  }
}
